dw_demo1/src/main/app/dw_demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="dw_demo1Flow">
        <dw:transform-message doc:name="Transform Message" metadata:id="5d36dc41-b9a0-49a6-be5b-7565f88c1eda">
            <dw:input-payload doc:sample="users.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
//users: ["john", "peter", "matt"] map {index:$$,data:$}
//users: payload.users.*user map {index:$$,value:$}
users: payload.users.*user map {name:$.name,age:$.age}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
